.footer {
  max-width: 1200px;
  // padding: 0 24px;
  margin: 16px auto;

  &--logo {
    display: flex;
    align-items: center;

    span {
      font-size: 18px;
      font-weight: 600;
      padding-left: 10px;
    }
  }

  &--copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p {
      cursor: pointer;
      margin: 0 10px;
      padding: 0 10px;
    }
  }
}